Lab01

Step.1 Import the file

In [2]:
# import the library

import pandas as pd

In [14]:
# assign the file path
file = "C:\\Users\\Admin\\Desktop\\Code\\Workshop\\lab-01\\lab-01\\sample.csv"

# load the file
db = pd.read_csv(file)

# if skip the first meaningless header row
#db = pd.read_csv(file, header=1)

#select the specific columns
db = pd.read_csv(r"C:\Users\Admin\Desktop\Code\lab-02\data\goodreads.csv", header=None, encoding='utf-8',
                         names=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'])
                        # change the column names

In [6]:
db.head()

   Unnamed: 0  sl__no_                   state_ut  vaccine_doses_supplied
0           0        1  Andaman & Nicobar Islands                  230000
1           1        2             Andhra Pradesh                13804020
2           2        3          Arunachal Pradesh                  610360
3           3        4                      Assam                 6566020
4           4        5                      Bihar                12789100

In [7]:
db.tail()

   Unnamed: 0  sl__no_                state_ut  vaccine_doses_supplied
5           5        6              Chandigarh                  474480
6           6        7            Chhattisgarh                 8722780
7           7        8  Dadra and Nagar Haveli                  217800
8           8        9           Daman and Diu                  191420
9           9       10                   Delhi                 6547400

In [12]:
# check the data
db.info()

# how to check specific column Dtype 
db['sl__no_'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              10 non-null     int64
 1   sl__no_                 10 non-null     int64
 2   state_ut                10 non-null     object
 3   vaccine_doses_supplied  10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: sl__no_
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 208.0 bytes

In [13]:
db.describe()

# Obtain minimum values for each table
db.min()
# Obtain the minimum population share of Marokaans
db['% Marokkaans|2023'].min()

       Unnamed: 0   sl__no_  vaccine_doses_supplied
count    10.00000  10.00000            1.000000e+01
mean      4.50000   5.50000            5.015338e+06
std       3.02765   3.02765            5.430147e+06
min       0.00000   1.00000            1.914200e+05
25%       2.25000   3.25000            2.911200e+05
50%       4.50000   5.50000            3.578880e+06
75%       6.75000   7.75000            8.183590e+06
max       9.00000  10.00000            1.380402e+07

In [ ]:

# if forget or cannot know the name of column
# Index = 0 
dtype_0 = df.iloc[:, 0].dtype
# Index = 0 and 1 
dtypes = df.iloc[:, [0, 1]].dtypes

In [ ]:
# change the header name or dtype



# transform number str to int/float 
db[columns_to_float] = db[columns_to_float].apply(pd.to_numeric, errors='coerce')

Histograms

import seaborn as sns