In [2]:
import os

In [3]:
# get the current folder path where this ipynb file located
current_dir = os.getcwd()
print(current_dir)

c:\Users\Admin\Desktop\Code\Assignment-1\CheatSheet

In [4]:
# list all files and folders in current folder
files = os.listdir(current_dir) 
print(files)

['Lab01-03.ipynb', 'sample.csv', 'Step 0_Load file.ipynb', 'Step1_clean the data.ipynb']

Read the file

In [6]:
import pandas as pd

In [7]:
db = pd.read_csv(current_dir + '\sample.csv')

# as same as
# file = "C:\\Users\\Admin\\Desktop\\Code\\Workshop\\lab-01\\lab-01\\sample.csv"

In [7]:
db

   Unnamed: 0  sl__no_                   state_ut  vaccine_doses_supplied
0           0        1  Andaman & Nicobar Islands                  230000
1           1        2             Andhra Pradesh                13804020
2           2        3          Arunachal Pradesh                  610360
3           3        4                      Assam                 6566020
4           4        5                      Bihar                12789100
5           5        6                 Chandigarh                  474480
6           6        7               Chhattisgarh                 8722780
7           7        8     Dadra and Nagar Haveli                  217800
8           8        9              Daman and Diu                  191420
9           9       10                      Delhi                 6547400