# select data

In [4]:
import geopandas as gpd
import os
import pandas as pd

In [18]:
folder_dir = 'C:\\Users\\Admin\\Desktop\\Code\\Assignment-1\\Hackathon\\csv'
files = os.listdir(folder_dir)
print(files)

['Housing.csv', 'Income.csv', 'Public spaces.csv', 'Safety.csv', 'Socio-economic status.csv', 'Traffic.csv']

In [20]:
Rent_Average = pd.read_csv(folder_dir+'\\Housing.csv')
Rent_Average.head()

,Geography,Area,Area code,Year,theme,Housing stock,Housing density,Trailer space,Mooring place,Sheltered accommodations,...,Wish to move 65+ (%),Neighbourhood: Satisfaction with neighbourhood (1-10),Neighbourhood: pleasant to live (1-10),Neighbourhood: Expected development (1-10),Neighbourhood: % improved,Neighbourhood: % stayed the same,Neighbourhood: % deteriorated,Neighbourhood: feeling at home (1-10),Involvement neighbours (1-10),Rent: average in commercial sector
0,Wijken,Haarlemmerbuurt,AA,2021,Housing,5654,10558,4,135,38,...,16,8.2,8,7.2,14,65,16,8.3,6.7,-
1,Wijken,Jordaan,AB,2021,Housing,13217,15870,1,113,6,...,14,8.2,7.8,7,15,62,18,8.3,6.8,1414
2,Wijken,Grachtengordel-West,AC,2021,Housing,4316,9638,1,75,9,...,13,8.4,8,7,13,64,19,8.4,6.6,-
3,Wijken,Burgwallen-Nieuwe Zijde,AD,2021,Housing,2972,5302,1,13,5,...,-,7.2,7.5,6.6,26,47,18,7.7,5.7,1434
4,Wijken,Burgwallen-Oude Zijde,AE,2021,Housing,2974,8535,-,3,12,...,-,7.3,7.1,6.6,32,40,22,7.8,6.5,-

In [22]:
columns_list_1 = list(Rent_Average.columns)
columns_list_1

['Geography',
 'Area',
 'Area code',
 'Year',
 'theme',
 'Housing stock',
 'Housing density',
 'Trailer space',
 'Mooring place',
 'Sheltered accommodations',
 'Property: Housing corporation',
 'Property: Owner-occupied',
 'Property: Private rent',
 'Property: % Housing corporation',
 'Property: % Private rent',
 'Property: % Owner-occupied',
 'Living space 0-40 m2',
 'Living space 40-60 m2',
 'Living space 60-80 m2',
 'Living space 80-100 m2',
 'Living space 100 m2+',
 'Living space not stated',
 'Living space: % 0 - 40 m2',
 'Living space: % 40- 60 m2',
 'Living space: % 60- 80 m2',
 'Living space: % 80- 100 m2',
 'Living space: % 100 m2+',
 'Living space: % unknown',
 'Average number of residents',
 'Cramped living',
 'Cramped living (%)',
 'Cramped living children',
 'Cramped living children (%)',
 'House too small (%)',
 'Residence too big (% 65+ years)',
 'Housing for the elderly',
 'Housing for the elderly (%)',
 'Ground floor or elevator',
 'Ground floor or elevator 75+',
 'Ground floor or elevator (%75+)',
 'Average house-value for tax purposes',
 'Rent: average',
 'Rent: % rent below deduction limit',
 'Rent: % rent below subsidy limit',
 'Rent: % middle',
 'Rent: % high',
 'Rent: % social (corporation)',
 'Rent: % social (private sector)',
 'Rent: % commercial (corporation)',
 'Rent: % commercial (private sector)',
 'Rent ratio',
 'Affordabilaty home',
 'Satisfaction with home',
 'Satisfaction with corporation home',
 'Satisfaction with home (65+ years)',
 'Maintenance own home (1-10)',
 'Maintenance housing in neighbourhood  (1-10)',
 'Wish to move (%)',
 'Wish to move 65+ (%)',
 'Neighbourhood: Satisfaction with neighbourhood (1-10)',
 'Neighbourhood: pleasant to live (1-10)',
 'Neighbourhood: Expected development (1-10)',
 'Neighbourhood: % improved',
 'Neighbourhood: % stayed the same',
 'Neighbourhood: % deteriorated',
 'Neighbourhood: feeling at home (1-10)',
 'Involvement neighbours (1-10)',
 'Rent: average in commercial sector']

In [31]:
Rent_Average_Source = Rent_Average[['Geography','Area','Area code','Year','Rent: average','Average house-value for tax purposes']]
Rent_Average_Source.head()

,Geography,Area,Area code,Year,Rent: average,Average house-value for tax purposes
0,Wijken,Haarlemmerbuurt,AA,2021,834,553606
1,Wijken,Jordaan,AB,2021,815,492596
2,Wijken,Grachtengordel-West,AC,2021,1202,871371
3,Wijken,Burgwallen-Nieuwe Zijde,AD,2021,1074,488138
4,Wijken,Burgwallen-Oude Zijde,AE,2021,832,488413

In [24]:
Public_Spaces = pd.read_csv(folder_dir+'\\Public spaces.csv')
Public_Spaces.head()

,Geography,Area,Area code,Year,theme,Green spaces (1-10),Playing facilities (1-10),Clean-up state streets and pavements (1-10),Clean-up state green spaces (1-10),Clean-up state playing facilities (1-10),...,Area public green (ha),Area: % water,Area: % buildings,Nuisance: pollution (1-10),Neighbourhood clean (%),Neighbourhood dirty (%),Area: % green,Area water (ha),Area land (ha),% Area land (ha)
0,Wijken,Haarlemmerbuurt,AA,2021,Public space,6.5,6.9,6.7,6.7,7.1,...,1.33,34.57,32.75,6,38,19,1.63,28.16,53.29,65.43
1,Wijken,Jordaan,AB,2021,Public space,5.9,6.2,6.4,6.3,6.6,...,0.74,12.11,56.49,5.7,38,20,0.78,11.46,83.19,87.89
2,Wijken,Grachtengordel-West,AC,2021,Public space,5.8,6,6.8,6.4,6.4,...,-,20.71,58.06,5.9,39,20,-,11.78,45.12,79.29
3,Wijken,Burgwallen-Nieuwe Zijde,AD,2021,Public space,4.6,4.3,6,5.4,4.5,...,0.11,23.63,36.13,4.7,30,35,0.16,17.21,55.63,76.37
4,Wijken,Burgwallen-Oude Zijde,AE,2021,Public space,4.8,4.8,7,5.9,5.8,...,0.02,13.88,57.19,5.6,22,40,0.05,5.62,34.85,86.12

In [25]:
Public_Spaces_Source = Public_Spaces[['Geography','Area','Area code','Area public green (ha)']]
Public_Spaces_Source.head()

  Geography                     Area Area code Area public green (ha)
0    Wijken          Haarlemmerbuurt        AA                   1.33
1    Wijken                  Jordaan        AB                   0.74
2    Wijken      Grachtengordel-West        AC                      -
3    Wijken  Burgwallen-Nieuwe Zijde        AD                   0.11
4    Wijken    Burgwallen-Oude Zijde        AE                   0.02

In [27]:
Traffic = pd.read_csv(folder_dir+'\\Traffic.csv', encoding='utf-8')
Traffic.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa8 in position 5: invalid start byte

In [29]:
# find this solution via chat GPT
import chardet

with open(folder_dir+'\\Traffic.csv', 'rb') as file:
    raw_data = file.read()
    result = chardet.detect(raw_data)
    encoding = result['encoding']

print(result['encoding'])

ISO-8859-1

In [30]:
Traffic = pd.read_csv(folder_dir+'\\Traffic.csv', encoding='ISO-8859-1')
Traffic.head()

,Geography,Area,Area code,Year,theme,Nuisance: speeding traffic (%),Nuisance: aggressive behaviour in traffic (%),Nuisance: parking problems (%),Parking spots total,Parking spots fiscal,Parking spots non public,Parking facilities (1-10),Parking facilities bikes (1-10),Nuisance: parking (1-10),Public transport (1-10),Public transport 65+ (1-10),Nuisance: amount of traffic (1-10),Nuisance: traffic noise (1-10),Parking spots non-fiscal
0,Wijken,Haarlemmerbuurt,AA,2021,Traffic,15,10,10,1112,952,160,5.9,5.7,6.9,7.6,7.3,6.8,6.8,-
1,Wijken,Jordaan,AB,2021,Traffic,17,16,21,2711,2409,302,5.5,5.1,6.5,7.7,7.5,6.6,6.8,-
2,Wijken,Grachtengordel-West,AC,2021,Traffic,20,16,21,1338,1218,120,5.4,5.4,6.2,7.9,7.7,6.8,6.8,-
3,Wijken,Burgwallen-Nieuwe Zijde,AD,2021,Traffic,18,12,16,619,382,237,5.5,5.6,7,8.5,7.9,6.4,6.2,-
4,Wijken,Burgwallen-Oude Zijde,AE,2021,Traffic,13,21,22,310,211,99,5.2,5.9,6.6,8.5,8.6,6.7,6.9,-

In [34]:
Traffic_Source = Traffic[['Geography','Area','Area code','Parking spots total']]
Traffic_Source.head()

  Geography                     Area Area code  Parking spots total
0    Wijken          Haarlemmerbuurt        AA                 1112
1    Wijken                  Jordaan        AB                 2711
2    Wijken      Grachtengordel-West        AC                 1338
3    Wijken  Burgwallen-Nieuwe Zijde        AD                  619
4    Wijken    Burgwallen-Oude Zijde        AE                  310

In [35]:
Income = pd.read_csv(folder_dir+'\\Income.csv', encoding='utf-8')
Income.head()

,Geography,Area,Area code,Year,theme,Mean disposable household income,Income 1st quintile,Income 2nd quintile,Income 3rd quintile,Income 4th quintile,...,Househoulds children social welfare benefits,% Househoulds children social welfare benefits,Disability benefits,Disability benefits (%),Unemployment benefits,Unemployment benefits (%),% economically independent men,% economically indepdent women,Social welfare,Social welfare (%)
0,Wijken,Haarlemmerbuurt,AA,2021,Income,49800,30,20,17,13,...,50,7.4,330,4.9,200,3,68,62,-,-
1,Wijken,Jordaan,AB,2021,Income,46700,33,20,17,13,...,55,4.7,690,4.7,510,3.4,67,63,-,-
2,Wijken,Grachtengordel-West,AC,2021,Income,83300,20,16,15,16,...,-,-,80,1.6,90,1.8,70,61,-,-
3,Wijken,Burgwallen-Nieuwe Zijde,AD,2021,Income,44300,32,21,19,13,...,-,-,60,1.7,130,3.7,69,63,-,-
4,Wijken,Burgwallen-Oude Zijde,AE,2021,Income,40800,35,22,16,13,...,15,8.6,70,1.8,130,3.3,66,54,-,-

In [36]:
Income_Source = Income[['Geography','Area','Area code','Mean disposable household income']]
Income_Source.head()

,Geography,Area,Area code,Mean disposable household income
0,Wijken,Haarlemmerbuurt,AA,49800
1,Wijken,Jordaan,AB,46700
2,Wijken,Grachtengordel-West,AC,83300
3,Wijken,Burgwallen-Nieuwe Zijde,AD,44300
4,Wijken,Burgwallen-Oude Zijde,AE,40800

In [37]:
Socio_economic_status = pd.read_csv(folder_dir+'\\Socio-economic status.csv', encoding='utf-8')
Socio_economic_status.head()

,Geography,Area,Area code,Year,theme,Social cohesion (1-10),SES low,SES midrange,SES high,SES low (%),...,Most vulnerable 0-17,Most vulnerable (% 0-17),Most vulnerable 18-26,Most vulnerable (% 18-26),Most vulnerable 27-65,Most vulnerable (% 27-65),Most vulnerable 66+,Most vulnerable (% 66+),Activities social participation,"Activities social participation / 1,000 inh."
0,Wijken,Haarlemmerbuurt,AA,2021,Socioeconomic status,6.2,2245,2385,4520,25,...,45,4,35,4,520,9,335,21,-,-
1,Wijken,Jordaan,AB,2021,Socioeconomic status,6.2,4560,5240,9555,24,...,55,3,100,4,1105,9,680,22,-,-
2,Wijken,Grachtengordel-West,AC,2021,Socioeconomic status,6,970,1365,3970,15,...,10,2,25,3,195,5,80,8,-,-
3,Wijken,Burgwallen-Nieuwe Zijde,AD,2021,Socioeconomic status,5.4,890,1000,2095,22,...,-,-,20,2,190,7,35,12,-,-
4,Wijken,Burgwallen-Oude Zijde,AE,2021,Socioeconomic status,5.6,1145,1125,2225,25,...,-,-,30,3,275,10,80,19,-,-

In [38]:
Socio_economic_status_Source = Socio_economic_status[['Geography','Area','Area code','Most vulnerable (%)']]
Socio_economic_status_Source.head()

  Geography                     Area Area code  Most vulnerable (%)
0    Wijken          Haarlemmerbuurt        AA                   46
1    Wijken                  Jordaan        AB                   46
2    Wijken      Grachtengordel-West        AC                   51
3    Wijken  Burgwallen-Nieuwe Zijde        AD                   47
4    Wijken    Burgwallen-Oude Zijde        AE                   42

In [39]:
Safety = pd.read_csv(folder_dir+'\\Safety.csv', encoding='utf-8')
Safety.head()

Wijkcode

,Geography,Area,Area code,Year,theme,Safety index: registered crime index,Safety index: High Volume Crime,Safety index: High Impact Crime,Safety index: reported victimization index,Safety index: reported victimization of High Volume Crimes,...,Nuisance: subletting tourists (%),Nuisance: tourists,Nuisance: locals (%),Nuisance: bothered in the street (%),Nuisance: youths congegrating (%),Nuisance: noise (%),Nuisance: neighbours (1-10),Nuisance: other groups of people (1-10),Nuisance: catering (1-10),Victimization: sexual assault (%)
0,Wijken,Haarlemmerbuurt,AA,2021,Safety,81,77,85,75,92,...,11,19,8,3,9,17,7.5,7.2,7.6,-
1,Wijken,Jordaan,AB,2021,Safety,123,103,145,111,96,...,14,23,8,4,10,21,7.2,7,7.2,1
2,Wijken,Grachtengordel-West,AC,2021,Safety,89,109,64,164,223,...,18,36,8,5,6,18,7.4,7.1,7.2,4
3,Wijken,Burgwallen-Nieuwe Zijde,AD,2021,Safety,210,213,206,154,120,...,25,39,10,7,16,31,6.8,6.1,5.8,8
4,Wijken,Burgwallen-Oude Zijde,AE,2021,Safety,138,137,139,134,101,...,22,50,9,26,20,42,7.4,5.8,5.5,1

In [40]:
Safety_Source = Safety[['Geography','Area','Area code','Safety index: High Impact Crime']]
Safety_Source.head()

  Geography                     Area Area code Safety index: High Impact Crime
0    Wijken          Haarlemmerbuurt        AA                              85
1    Wijken                  Jordaan        AB                             145
2    Wijken      Grachtengordel-West        AC                              64
3    Wijken  Burgwallen-Nieuwe Zijde        AD                             206
4    Wijken    Burgwallen-Oude Zijde        AE                             139

In [41]:
Main_dataset = pd.read_csv(folder_dir+'\\Geometry of Wijks.csv', encoding='utf-8')
Main_dataset.head()

,OBJECTNUMMER,CBS_Wijkcode,Wijkcode,Wijk,Gebiedcode,Gebied,Stadsdeelcode,Stadsdeel,Oppervlakte_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT,geometry
0,1.0,"""BU0363EQ""","""EQ""","""Da Costabuurt""","""GE05""","""Oud-West, De Baarsjes""","""E""","""West""",257542.0,"POLYGON((4.867406 52.371797,4.869586 52.368605...","""POLYGON((52.371797 4.867406,52.368605 4.86958...",4.872108,52.370130,"POLYGON ((4.867406 52.371797, 4.869586 52.3686..."
1,2.0,"""BU0363ER""","""ER""","""Westindische Buurt""","""GE05""","""Oud-West, De Baarsjes""","""E""","""West""",345503.0,"POLYGON((4.848885 52.358045,4.848892 52.357914...","""POLYGON((52.358045 4.848885,52.357914 4.84889...",4.854062,52.361007,"POLYGON ((4.848885 52.358045, 4.848892 52.3579..."
2,3.0,"""BU0363KB""","""KB""","""Schinkelbuurt""","""GK11""","""Oud-Zuid""","""K""","""Zuid""",344932.0,"POLYGON((4.848181 52.342768,4.849791 52.342924...","""POLYGON((52.342768 4.848181,52.342924 4.84979...",4.852877,52.349646,"POLYGON ((4.848181 52.342768, 4.849791 52.3429..."
3,4.0,"""BU0363KC""","""KC""","""Willemspark""","""GK11""","""Oud-Zuid""","""K""","""Zuid""",695818.0,"POLYGON((4.855085 52.35641,4.855027 52.356322,...","""POLYGON((52.35641 4.855085,52.356322 4.855027...",4.862796,52.354371,"POLYGON ((4.855085 52.35641, 4.855027 52.35632..."
4,5.0,"""BU0363KD""","""KD""","""Museumkwartier""","""GK11""","""Oud-Zuid""","""K""","""Zuid""",1380178.0,"POLYGON((4.86554 52.358854,4.867135 52.356104,...","""POLYGON((52.358854 4.86554,52.356104 4.867135...",4.876464,52.355265,"POLYGON ((4.86554 52.358854, 4.867135 52.35610..."

In [43]:
Main_dataset['CBS_Wijkcode'] = Main_dataset['CBS_Wijkcode'].str.strip('"')
Main_dataset['Wijkcode'] = Main_dataset['Wijkcode'].str.strip('"')
Main_dataset['Wijk'] = Main_dataset['Wijk'].str.strip('"')
Main_dataset['Gebiedcode'] = Main_dataset['Gebiedcode'].str.strip('"')
Main_dataset['Gebied'] = Main_dataset['Gebied'].str.strip('"')
Main_dataset['Stadsdeelcode'] = Main_dataset['Stadsdeelcode'].str.strip('"')
Main_dataset['Stadsdeel'] = Main_dataset['Stadsdeel'].str.strip('"')

# change the header name or dtype
Main_dataset.rename(columns={'Wijkcode': 'Area code', 'Wijk': 'Area'}, inplace=True)

Main_dataset.head()

,OBJECTNUMMER,CBS_Wijkcode,Area code,Area,Gebiedcode,Gebied,Stadsdeelcode,Stadsdeel,Oppervlakte_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT,geometry
0,1.0,BU0363EQ,EQ,Da Costabuurt,GE05,"Oud-West, De Baarsjes",E,West,257542.0,"POLYGON((4.867406 52.371797,4.869586 52.368605...","""POLYGON((52.371797 4.867406,52.368605 4.86958...",4.872108,52.370130,"POLYGON ((4.867406 52.371797, 4.869586 52.3686..."
1,2.0,BU0363ER,ER,Westindische Buurt,GE05,"Oud-West, De Baarsjes",E,West,345503.0,"POLYGON((4.848885 52.358045,4.848892 52.357914...","""POLYGON((52.358045 4.848885,52.357914 4.84889...",4.854062,52.361007,"POLYGON ((4.848885 52.358045, 4.848892 52.3579..."
2,3.0,BU0363KB,KB,Schinkelbuurt,GK11,Oud-Zuid,K,Zuid,344932.0,"POLYGON((4.848181 52.342768,4.849791 52.342924...","""POLYGON((52.342768 4.848181,52.342924 4.84979...",4.852877,52.349646,"POLYGON ((4.848181 52.342768, 4.849791 52.3429..."
3,4.0,BU0363KC,KC,Willemspark,GK11,Oud-Zuid,K,Zuid,695818.0,"POLYGON((4.855085 52.35641,4.855027 52.356322,...","""POLYGON((52.35641 4.855085,52.356322 4.855027...",4.862796,52.354371,"POLYGON ((4.855085 52.35641, 4.855027 52.35632..."
4,5.0,BU0363KD,KD,Museumkwartier,GK11,Oud-Zuid,K,Zuid,1380178.0,"POLYGON((4.86554 52.358854,4.867135 52.356104,...","""POLYGON((52.358854 4.86554,52.356104 4.867135...",4.876464,52.355265,"POLYGON ((4.86554 52.358854, 4.867135 52.35610..."

In [44]:
# merge the dataset based on common column 'Area code'
merged_gdf = Main_dataset.merge(Rent_Average_Source[['Area code', 'Rent: average','Average house-value for tax purposes']], on='Area code', how='left')
merged_gdf.head()

,OBJECTNUMMER,CBS_Wijkcode,Area code,Area,Gebiedcode,Gebied,Stadsdeelcode,Stadsdeel,Oppervlakte_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT,geometry,Rent: average,Average house-value for tax purposes
0,1.0,BU0363EQ,EQ,Da Costabuurt,GE05,"Oud-West, De Baarsjes",E,West,257542.0,"POLYGON((4.867406 52.371797,4.869586 52.368605...","""POLYGON((52.371797 4.867406,52.368605 4.86958...",4.872108,52.370130,"POLYGON ((4.867406 52.371797, 4.869586 52.3686...",823,498536
1,2.0,BU0363ER,ER,Westindische Buurt,GE05,"Oud-West, De Baarsjes",E,West,345503.0,"POLYGON((4.848885 52.358045,4.848892 52.357914...","""POLYGON((52.358045 4.848885,52.357914 4.84889...",4.854062,52.361007,"POLYGON ((4.848885 52.358045, 4.848892 52.3579...",861,443995
2,3.0,BU0363KB,KB,Schinkelbuurt,GK11,Oud-Zuid,K,Zuid,344932.0,"POLYGON((4.848181 52.342768,4.849791 52.342924...","""POLYGON((52.342768 4.848181,52.342924 4.84979...",4.852877,52.349646,"POLYGON ((4.848181 52.342768, 4.849791 52.3429...",774,445304
3,4.0,BU0363KC,KC,Willemspark,GK11,Oud-Zuid,K,Zuid,695818.0,"POLYGON((4.855085 52.35641,4.855027 52.356322,...","""POLYGON((52.35641 4.855085,52.356322 4.855027...",4.862796,52.354371,"POLYGON ((4.855085 52.35641, 4.855027 52.35632...",1349,1064407
4,5.0,BU0363KD,KD,Museumkwartier,GK11,Oud-Zuid,K,Zuid,1380178.0,"POLYGON((4.86554 52.358854,4.867135 52.356104,...","""POLYGON((52.358854 4.86554,52.356104 4.867135...",4.876464,52.355265,"POLYGON ((4.86554 52.358854, 4.867135 52.35610...",1051,1011630

In [45]:
merged_gdf = merged_gdf.merge(Public_Spaces_Source[['Area code', 'Area public green (ha)']], on='Area code', how='left')
merged_gdf = merged_gdf.merge(Traffic_Source[['Area code', 'Parking spots total']], on='Area code', how='left')
merged_gdf = merged_gdf.merge(Income_Source[['Area code', 'Mean disposable household income']], on='Area code', how='left')
merged_gdf = merged_gdf.merge(Socio_economic_status[['Area code', 'Most vulnerable (%)']], on='Area code', how='left')
merged_gdf = merged_gdf.merge(Safety_Source[['Area code', 'Safety index: High Impact Crime']], on='Area code', how='left')

merged_gdf.head()

,OBJECTNUMMER,CBS_Wijkcode,Area code,Area,Gebiedcode,Gebied,Stadsdeelcode,Stadsdeel,Oppervlakte_m2,WKT_LNG_LAT,...,LNG,LAT,geometry,Rent: average,Average house-value for tax purposes,Area public green (ha),Parking spots total,Mean disposable household income,Most vulnerable (%),Safety index: High Impact Crime
0,1.0,BU0363EQ,EQ,Da Costabuurt,GE05,"Oud-West, De Baarsjes",E,West,257542.0,"POLYGON((4.867406 52.371797,4.869586 52.368605...",...,4.872108,52.370130,"POLYGON ((4.867406 52.371797, 4.869586 52.3686...",823,498536,0.68,971.0,49800,52.0,130
1,2.0,BU0363ER,ER,Westindische Buurt,GE05,"Oud-West, De Baarsjes",E,West,345503.0,"POLYGON((4.848885 52.358045,4.848892 52.357914...",...,4.854062,52.361007,"POLYGON ((4.848885 52.358045, 4.848892 52.3579...",861,443995,2.01,1763.0,50500,54.0,89
2,3.0,BU0363KB,KB,Schinkelbuurt,GK11,Oud-Zuid,K,Zuid,344932.0,"POLYGON((4.848181 52.342768,4.849791 52.342924...",...,4.852877,52.349646,"POLYGON ((4.848181 52.342768, 4.849791 52.3429...",774,445304,1.8,972.0,46200,51.0,104
3,4.0,BU0363KC,KC,Willemspark,GK11,Oud-Zuid,K,Zuid,695818.0,"POLYGON((4.855085 52.35641,4.855027 52.356322,...",...,4.862796,52.354371,"POLYGON ((4.855085 52.35641, 4.855027 52.35632...",1349,1064407,16.38,2624.0,131700,55.0,51
4,5.0,BU0363KD,KD,Museumkwartier,GK11,Oud-Zuid,K,Zuid,1380178.0,"POLYGON((4.86554 52.358854,4.867135 52.356104,...",...,4.876464,52.355265,"POLYGON ((4.86554 52.358854, 4.867135 52.35610...",1051,1011630,17.53,4839.0,103000,55.0,219

In [46]:
merged = merged_gdf[['OBJECTNUMMER','CBS_Wijkcode','Area code','Area','Rent: average','Average house-value for tax purposes','Area public green (ha)','Parking spots total','Mean disposable household income','Most vulnerable (%)','Safety index: High Impact Crime','geometry','LNG','LAT','Gebiedcode','Gebied','Stadsdeelcode','Stadsdeel','Oppervlakte_m2']]
merged.head()

,OBJECTNUMMER,CBS_Wijkcode,Area code,Area,Rent: average,Average house-value for tax purposes,Area public green (ha),Parking spots total,Mean disposable household income,Most vulnerable (%),Safety index: High Impact Crime,geometry,LNG,LAT,Gebiedcode,Gebied,Stadsdeelcode,Stadsdeel,Oppervlakte_m2
0,1.0,BU0363EQ,EQ,Da Costabuurt,823,498536,0.68,971.0,49800,52.0,130,"POLYGON ((4.867406 52.371797, 4.869586 52.3686...",4.872108,52.370130,GE05,"Oud-West, De Baarsjes",E,West,257542.0
1,2.0,BU0363ER,ER,Westindische Buurt,861,443995,2.01,1763.0,50500,54.0,89,"POLYGON ((4.848885 52.358045, 4.848892 52.3579...",4.854062,52.361007,GE05,"Oud-West, De Baarsjes",E,West,345503.0
2,3.0,BU0363KB,KB,Schinkelbuurt,774,445304,1.8,972.0,46200,51.0,104,"POLYGON ((4.848181 52.342768, 4.849791 52.3429...",4.852877,52.349646,GK11,Oud-Zuid,K,Zuid,344932.0
3,4.0,BU0363KC,KC,Willemspark,1349,1064407,16.38,2624.0,131700,55.0,51,"POLYGON ((4.855085 52.35641, 4.855027 52.35632...",4.862796,52.354371,GK11,Oud-Zuid,K,Zuid,695818.0
4,5.0,BU0363KD,KD,Museumkwartier,1051,1011630,17.53,4839.0,103000,55.0,219,"POLYGON ((4.86554 52.358854, 4.867135 52.35610...",4.876464,52.355265,GK11,Oud-Zuid,K,Zuid,1380178.0

In [52]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   OBJECTNUMMER                          110 non-null    float64
 1   CBS_Wijkcode                          110 non-null    object
 2   Area code                             110 non-null    object
 3   Area                                  110 non-null    object
 4   Rent: average                         106 non-null    object
 5   Average house-value for tax purposes  106 non-null    object
 6   Area public green (ha)                106 non-null    object
 7   Parking spots total                   104 non-null    float64
 8   Mean disposable household income      105 non-null    object
 9   Most vulnerable (%)                   106 non-null    float64
 10  Safety index: High Impact Crime       100 non-null    object
 11  geometry                              110 non-null    object
 12  LNG                                   110 non-null    float64
 13  LAT                                   110 non-null    float64
 14  Gebiedcode                            110 non-null    object
 15  Gebied                                110 non-null    object
 16  Stadsdeelcode                         110 non-null    object
 17  Stadsdeel                             110 non-null    object
 18  Oppervlakte_m2                        110 non-null    float64
dtypes: float64(6), object(13)
memory usage: 16.6+ KB

In [54]:
merged['Rent: average'] = merged['Rent: average'].apply(pd.to_numeric, errors='coerce')
merged['Average house-value for tax purposes'] = merged['Average house-value for tax purposes'].apply(pd.to_numeric, errors='coerce')
merged['Area public green (ha)'] = merged['Area public green (ha)'].apply(pd.to_numeric, errors='coerce')
merged['Average house-value for tax purposes'] = merged['Average house-value for tax purposes'].apply(pd.to_numeric, errors='coerce')
merged['Mean disposable household income'] = merged['Mean disposable household income'].apply(pd.to_numeric, errors='coerce')
merged['Safety index: High Impact Crime'] = merged['Safety index: High Impact Crime'].apply(pd.to_numeric, errors='coerce')

merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   OBJECTNUMMER                          110 non-null    float64
 1   CBS_Wijkcode                          110 non-null    object
 2   Area code                             110 non-null    object
 3   Area                                  110 non-null    object
 4   Rent: average                         70 non-null     float64
 5   Average house-value for tax purposes  103 non-null    float64
 6   Area public green (ha)                103 non-null    float64
 7   Parking spots total                   104 non-null    float64
 8   Mean disposable household income      103 non-null    float64
 9   Most vulnerable (%)                   106 non-null    float64
 10  Safety index: High Impact Crime       94 non-null     float64
 11  geometry                              110 non-null    object
 12  LNG                                   110 non-null    float64
 13  LAT                                   110 non-null    float64
 14  Gebiedcode                            110 non-null    object
 15  Gebied                                110 non-null    object
 16  Stadsdeelcode                         110 non-null    object
 17  Stadsdeel                             110 non-null    object
 18  Oppervlakte_m2                        110 non-null    float64
dtypes: float64(11), object(8)
memory usage: 16.6+ KB

C:\Users\Admin\AppData\Local\Temp\ipykernel_29432\3440060461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Rent: average'] = merged['Rent: average'].apply(pd.to_numeric, errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_29432\3440060461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Average house-value for tax purposes'] = merged['Average house-value for tax purposes'].apply(pd.to_numeric, errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_29432\3440060461.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Area public green (ha)'] = merged['Area public green (ha)'].apply(pd.to_numeric, errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_29432\3440060461.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Average house-value for tax purposes'] = merged['Average house-value for tax purposes'].apply(pd.to_numeric, errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_29432\3440060461.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Mean disposable household income'] = merged['Mean disposable household income'].apply(pd.to_numeric, errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_29432\3440060461.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Safety index: High Impact Crime'] = merged['Safety index: High Impact Crime'].apply(pd.to_numeric, errors='coerce')

In [55]:
# save the dataset
merged.to_csv(folder_dir+'\\MergedData.csv')

In [50]:
from shapely.wkt import loads

merged['geometry'] = merged['geometry'].apply(loads)
gdf = gpd.GeoDataFrame(merged, geometry='geometry')

# save the dataset
merged.to_file(folder_dir+'\\MergedData.csv')

TypeError: Expected bytes or string, got float